button {
  width: 250px;
  height: 80px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 35px;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #99460e;
}

.boton-clic {
  background-color: #0a1237;
}

.boton-reiniciar {
  background-color: #172b69;
}